# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model and data files
# *.pkl
# *.joblib
*.h5
*.sqlite3

# Redis dump files
dump.rdb

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Test output
test-results/

#